@import './base.css';

#app {
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: normal;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

/* 移动端允许滚动 */
@media (max-width: 768px) {
  body {
    overflow-y: auto;
    overflow-x: hidden;
  }
}
